body{
	background-color: #232323;
	font-family: "Montserrat", "Avenir";
	margin: 0;
}

.square{
	border-radius: 15%;
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	margin: 0 auto;
	max-width: 600px;
	padding: 20px;
}

h1{
	color: white;
	background: steelblue;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	font-weight: normal;
	line-height: 1.1;
	padding: 20px 0px;
}

.nav{
	background: white;
	height: 30px;
	text-align: center;
}

button{
	border: none;
	background: none;
	color: steelblue;
	height: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: inherit;
	outline: none;
}

button:hover {
	transition: all 0.6s;
	background: steelblue;
	color: white;
}

#display{
	display: inline-block;
	width: 20%;
	letter-spacing: 0.5px;
}

#colorDisplay{
	font-size: 200%;
}
.selected{
	background: steelblue;

	color: white;
}
